/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =============== Globals ============== */
* {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #1A8400;
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
    --red: #b90000;
}

/* ================== Column List ============== */
.details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details .recentOrders {
    width: 100%;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    position: relative;
}

.details .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.cardHeader h2 {
    font-weight: 600;
    color: var(--blue);
    text-align: center; 
    width: 100%;
}  

.cardSubHeader h3 {
    margin: 10px 0;
    color: var(--black1);
    font-size: 20px;
    text-align: left;
    font-weight:bold;
}

/* Table Styling */
.details table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

thead td {
    font-weight: 600;
    color: var(--blue);
    text-align: left;
    padding: 10px 5px;
}

tbody tr {
    border-bottom: 2px solid var(--blue); /* Garis bawah hijau */
}

tbody tr:hover {
    background-color: var(--blue); /* Warna hijau */
    color: var(--white); /* Teks putih */
    cursor: pointer;
}

tbody td {
    padding: 10px 5px;
    text-align: left;
}

tbody td img {
    width: 60px;
    height: auto;
    border-radius: 5px;

}

/* Button Styling */
.btn-edit {
    background-color: var(--blue);
    color: var(--white);
    border: none;
    padding: 5px 10px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}

.btn-delete {
    background-color: var(--red);
    color: var(--white);
    border: none;
    padding: 5px 10px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
}

/* Add Button Styling */
.btn-add {
    background-color: var(--blue);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 14px;
    position: absolute;
    bottom: 20px; /* Posisikan di bawah */
    left: 20px;   /* Posisikan di kiri */
    cursor: pointer;
}

/* Add Button Styling */
.btn-add-back {
    background-color: var(--red);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 14px;
    position: absolute;
    bottom: 20px; /* Posisikan di bawah */
    left: 20px;   /* Posisikan di kiri */
    cursor: pointer;
    text-decoration: none;
}

/* fomr tambah ramuan */
.form-ramuan {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-group label {
    font-size: 16px;
    font-weight: bold;
    color: var(--blue);
}

.form-group input,
.form-group select,
.form-group textarea {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #c2e1c9;
    background: #e8f9e7;
    font-size: 14px;
}

textarea {
    resize: none;
}

.form-group small {
    color: #555;
    font-size: 12px;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.btn-simpan {
    background-color: var(--blue);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
}

.btn-simpan:hover {
    background-color: #256c36;
}

.btn-hapus {
    background-color: #b22222;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
}

.btn-hapus:hover {
    background-color: #8b0000;
}

